.photo-td {
  width: 10px;
}

th {
  color: gray;
}

.btn-outline-primary {
  border-radius: 30px !important;
}

tbody > tr > td {
  cursor: pointer;
}

.save-color {
  color: gray !important;
  font-weight: bold !important;
}

button:disabled {
  cursor: not-allowed;
}
